doctype html
html
	head
		-var title = ''
		if doctype
			-title = doctype.toUpperCase() + ' - '
		if doc
			if doc.name
				-title = doc.name
			else if doc.title
				-title = doc.title
			-title = title + ' - '
		if doctype
			-title = doctype + ' - '
		title= title + 'Yangs Seismic Lab'
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css')
		link(rel='stylesheet' href='/semantic/semantic.min.css')
		link(rel='stylesheet' href='/stylesheets/person.min.css')
		link(rel='stylesheet' href='/stylesheets/upload.min.css')
		link(rel='stylesheet', href='/stylesheets/style.min.css')
	body
		//use an array variable to store menu items, so changes here apllies everywhere!
		-var menu = [{id: '',name: 'Home'}, {id: 'vitae',name: 'Curriculum Vitae'}, {id: 'research',name: 'Research'}, {id: 'publication',name: 'Publication'}, {id: 'teaching',name: 'Teaching'}, {id: 'people',name: 'People'}, {id: 'vacancies',name: 'Vacancies'}]
		//mixin to add slid use given doc;
		mixin slide(doc)
			img.slr-img.cursor-pointer(src= doc.cover ?  doc.cover : '' alt='slider image')
			.carousel-caption
				h3
					a(href='/news?_id=' + doc._id)= doc.title
				label.slabelextra
					a.slabeldate= doc.date.substr(0, 10)
					label.slabelsource= doc.source

		#sidebar-hidden.ui.sidebar.left.vertical.menu
			include menu
		.pusher
			#loader.ui.modal.basic
				.content
					.ui.text.loader Loading
			//#sidebar-normal.ui.left.fixed.vertical.menu
				include menu
			#body.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2(data-edit= edimode ? true : false)
				include header
				#top-indicator
				#body-loader.ui.text.loader Loading
				#main.container-fluid
					.full-width.col-sm-3.col-md-2.col-lg-2
						#vertical-nv
							include menu
					#main-content.col-xs-12.col-sm-9.col-md-10.col-lg-10
						//if doc
							#site-path.ui.breadcrumb
								a.section(href='/') Home
								.divider /
								a.section(href='/' + doctype)= doctype
								.divider /
								a.section.active= doc.name ? doc.name : doc.title
						block content
				include footer
			#scroll-top.arrow(onclick='ScrollTop()')
				.stick
				.point
				.wall
			#modal-cust
				.container
		block scripts
			script(src='/javascripts/jquery-2.1.4.min.js')
			//script(src='//code.jquery.com/jquery-2.1.4.min.js')
			//script(src='https://cdn.jsdelivr.net/lodash/3.10.1/lodash.min.js')
			//script(src='https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js')
			//script(src='https://cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.js')
			//script(src='https://cdn.jsdelivr.net/js-cookie/2.1.0/js.cookie.js')
			//script(src='https://cdn.jsdelivr.net/vue/1.0.15/vue.min.js')
			script(src='/javascripts/lodash.min.js')
			script(src='/javascripts/js.cookie.js')
			script(src='/javascripts/bootstrap.min.js')
			//script(src='/javascripts/vibrant.min.js')
			if editmode
				script(src='/javascripts/vue.min.js')
				script(src='/tinymce/tinymce.min.js')
			script(src='/semantic/semantic.min.js')
			script(src='/javascripts/smoothscroll.js')
			script(src='/javascripts/main.babeled.js')
