include edit
#cv-upload.edit-hidden.container-fluid(itemscope itemtype='http://json-schema.org/draft-04/schema#')
	.row
		.card-wrapper
			.card
				.profile-card(itemscope itemprop='basics')
					#profile-pic.profile-pic
						img.media-object.img-circle.center-block(src= doc.picture alt= doc.name itemprop='image')
					.contact-details.edit-hidden
						.name-and-profession
							h3.text-bolder.name(itemprop='name')= doc.name
							h5.text-muted(itemprop='label')= doc.title
						.detail
							span.icon
								i.fa.fa-lg.fa-map-marker
							span.info= doc.office
						.detail
							span.icon
								i.fa.fa-lg.fa-envelope
							span.info
								a(href='mailto:' + doc.email itemprop='email')= doc.email
						.detail
							span.icon
								i.fa.fa-lg.fa-phone
							a.link-disguise.info(href='tel://' + doc.telephone, itemprop='telephone')= doc.phone
	.row
		.card-wrapper
			.card.background-card
				h4 education
				.people-details.card-nested!= doc.details
	.row
		.card-wrapper
			.card.background-card
				h4 education
				.people-details.card-nested!= doc.details